h1, h2, h4, h5, h6 {
    text-transform: uppercase;
    color:#444 
    
   }
   h3{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 20px;
       line-height: 1.5;
       padding-top: 20px;
       font-weight: normal;
       color: #777;
   }
   .wap{
       width: 90%;
       margin: auto;
   }
   h2{
       font-size: 26px;
       color: #333;
   }
   .bienvenidos{
       margin-top: 50px;
       text-align: center;
       width: 100%;
   }
   .contenedor-columnas{
       width: 100%;
       margin: auto;
       margin-bottom: 50px;
   }
   .columnasx3{
       width: 33.333%;
       float: left;
       padding: 20px 20px;
       box-sizing: border-box;
       margin: auto;
   }
   
   .columnasx3 img{
       width: 100%;
   
   }
   h4 {
       margin-top: 15px;
       font-size: 16px;
   }
   h5{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       line-height: 1.5;
       font-weight: normal;
       padding: 10px 0;
       font-size: 12px;  
   }
   p{
       color:#888;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: 15px;
   }
   
   
   
   .wap{
       background-color: aqua;
       width: 70%;
   }
   .banner-1{
       color: bisque;
       background-color: chartreuse;
   }
   
   .banner2{
       margin-top: 50px;
       background: #ff7e67;
       width: 100%;
       height: 200px;
       text-align: center;
       float:left;
       
       }
   
       .banner2 h3{
           background: rgb(0,0,0,4);
           padding-top: 6%;
           font-size: 35px;
           height: 200px;
           color:#fff     
       }
   
      .banner2 a{
          text-decoration: none;
          font-weight: bold;
          margin-left: ;
          color:#fff;
          
      }